/*

  Pea
  ---
  A blog theme

*/

@import "../bower_components/bootstrap-stylus/bootstrap/variables.styl"
// @import "../bower_components/bootstrap-stylus/bootstrap/mixins"
@import "../bower_components/bootstrap-stylus/bootstrap/mixins.styl"
@import "../bower_components/bootstrap-stylus/bootstrap/utilities.styl"
@import "../bower_components/bootstrap-stylus/bootstrap/grid.styl"
// @import "../bower_components/bootstrap-stylus/bootstrap/type.styl"

.sidebar
  text-align right
