extends /layouts/_default

block index

  .container-fluid.index
    .row.header
      .col-md-3
        &nbsp;
      .col-md-4
        .card.media
          a.media-left.media-middle
            img(src="http://www.gravatar.com/avatar/b3af8a49d41a465184e7620b936ccbe2.png", class="img-circle")
            
          .details.media-body
            h1.media-heading Brk.tt
            h5 A really interesting blogger
          
    .row.main
      .col-md-3.sidebar
        h4 &nbsp;
      .col-md-4
        .feed
          .post
            h1 HOW I LOVE PEOPLE ON THE INTERNET
            p It was 4 in the morning when my sister came to say, nobody is watching the tv anymore, what the frick is happening to people I can’t live. 

          .post
            h1 HOW I LOVE PEOPLE ON THE INTERNET
            p It was 4 in the morning when my sister came to say, nobody is watching the tv anymore, what the frick is happening to people I can’t live. 
            
